*{
    padding: 0%;
    margin: 0%;
    color: white;
}

body{
    background-color: azure;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
}


.container{
    height: 300px;
    width: 600px;
    
    
    display:grid ;
    gap: 3px;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr  1fr;
}

.box{
    background-color: rgb(6, 116, 211);
    text-align: center;

}

.content1{
    grid-column-start: 1;
    grid-column-end: 4;
}

.content2{
  
    grid-row: 2/4
}
.content3{
  grid-column: 2/4;


}

.content6{
    grid-column: 1/4;

}