* {
    margin-top: 0px;
    padding: 0px;
}

body {
    background-color: #140021;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 0px;

    min-height: 100vh;
}


h1 {
    margin-bottom: 12px;
}

.box {
    background-color: #D4AF37;
    /* height: 545px; */
    width: 345px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid white;

    min-height: 545px;
    height: auto;
}

form {
    color: #F5F5F5;
    background-color:  #2A0E37;
    padding: 15px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    border-radius: 5px;

}


input {
    width: 310px;
    height: 25px;
    margin-top: 4px;
    border: 1px solid black;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;

}

label {
    font-size: medium;
}

h2 {
    background-color: #C084FC;
    box-sizing: border-box;
    padding: 8px;
    font-size: smaller;
    background-color: rgb(128, 128, 128);
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid black;

    overflow-wrap: break-word;
    white-space: pre-line;
    line-height: 1.6;
}