* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;

}

.container {
    background-color: black;
    border: 2px white solid;
    margin: 20px;
    height: 50px;
    width: 650px;
    overflow: hidden;
    white-space: nowrap;

}

.text {
    color: white;
    height: 50px;
    width: 650px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: moving;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moving {
    from {
        margin-left: 616px;
    }

    to {
        margin-left: -630px;

    }
}