* {
    margin: 0px;

}


.Container {

    background-color: rgba(26, 229, 222, 0.822);

    display: flex;
    flex-direction: row;
    justify-content: start;
    /* Work in MAin Axis (Row) */
    flex-wrap: wrap;
    /* align-items: center;  */
    /* Work in Cross Axis (Row) */
}

.Box {
    background-color: white;
    margin: 10px;
    padding-left: 5px;
    border-radius: 4px;
    cursor: pointer;

    height: 20px;
}

.Box:hover {
    background-color: gray;
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Coder {
    background-color: transparent;
    flex-grow: 1;
    flex-shrink: 5;
}

.First {
    flex-basis: 45px;
    /* width: 45px; */
}

.Second {
    width: 60px;
}

.Third {
    width: 55px;
}

.Fourth {
    width: 70px;
}

.Fifth {
    color: white;

    background-color: orangered;
    width: 45px;
    flex-shrink: 6;

}

.Six {
    color: white;

    background-color: blue;
    width: 60px;
    flex-shrink: 5;

}